/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Opens Sans' Oxygen;
	height: 100vh ;

}

/*  ======================================= Nav Start ============================================== */

#nav {

	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #004E84 !important;
}

/*  ======================================= Nav End ============================================== */





/* ======================================== Landing Section Start ================================ */


#landing {
	
	background-image: url("./images/profilebg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: min(700px);
	padding-right: 50px;
}

/* ======================================== Landing Section End =================================== */





/* ======================================= Tools Section Start ====================================== */

.toolsHeading {

	margin-top: 5%;
	margin-left: 10px;
	padding-top: 30px;
	font-size: 135%;
}
  
  .first-tools img {
    height: 150%;
	object-fit: contain;
	
  }
  
  .second-tools img {

	margin-bottom: 2rem;
	padding-bottom: 3rem;
  }


  @media (min-width: 768px) {
    .first-tools img {
		padding-top: 5rem;
    }
	.second-tools img{
		height: 220px;
	}
  }

.container-md {
	margin-top: 10%;
}

/* ======================================= Tools Section End ============================================== */

/* #profiletext {
	font-size: 20pt;
}

hr {
	border-top: 1px solid;
} */

/* ====================================== Contact Section Start =========================================== */


#contactForm {
	width: 75%;
	background-color: rgba(0, 0, 255, 0.712);
	margin-left: 25px;
	padding: 10px;
	border: 3px black;
}

@media (min-width: 768px) {
	#contactForm {
		width: 25%;
		background-color: rgba(0, 0, 255, 0.712);
		margin-left: 0px;
		border: 3px black;

	}

}

/* ======================================= Contact Section End ============================================== */

/* footer {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 24px;

	text-align: center;

	color: #003363;

} */

.social {
	
	width: 50px;
	height: 50px;

	background: #D1D1D6;

	border-radius: 100%;
}


/* ===================================== Pre-Footer Starts =============================================== */

#pre-footer {
	background: blue;
	height: 28%;
	margin-top: 5%;

}

#follow {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	color: white;
	margin-top: 50px;
}

.socials {
	list-style: none;
	display: flex;
	align-items: center;
	margin: 1rem;
}

.socials li {
	margin: 0 20px;
}

.socials a i {
	font-size: 1.1rem;
	width: 17px;
}

.socials a {
	text-decoration: none;
	border: 1.1px solid black;
	padding: 5px;
	border-radius: 55%;
	
}

.footer-bottom {
	padding: 20px;
	padding-bottom: 50px;
	text-align: center;
	color: white;
}

/* ========================================== Pre-Footer Ends ===================================== */


