/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Opens Sans' Oxygen;
	height: 100vh ;

}

#landing {
	
	background-image: url("./images/profilebg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	height: min(700px);
	padding-right: 50px;



}


#profiletext {
	font-size: 20pt;
}

hr {
	border-top: 1px solid;
}

#contact {
	width: 25%;
	background-color: skyblue ;
	margin: auto;
	padding: 10px;
	border: 3px black;


}

footer {

	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 13px;
	line-height: 24px;

	text-align: center;

	color: #003363;

}

.social {
	
	width: 50px;
	height: 50px;

	background: #D1D1D6;

	border-radius: 100%;
}

#follow {
	
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	line-height: 24px;

	text-align: center;

	color: black;

}

#pre-footer {
	background: skyblue;
}

#nav {

	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #004E84 !important;
}


.card-body img {
	padding-left: 25px;
}

h2 {
	margin-left: 2rem;

}